.example-form {
  display:flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
}

.text-center{
  text-align: center;
}
.data-table{
  width: 80%;
  margin: 20px auto;
}
.middle{
  width: 80%;
  margin: 20px auto;
}
.middle1{
  margin: 20px auto;
}

@media only screen 
and (min-device-height : 768px) 
and (max-device-height : 1024px)  { 
  .mat-cell, .mat-footer-cell {
    font-size: 11px;
}

mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 10px;
}
}