.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
  color:#616161;
}
.example-container > * {
  width: 80%;
}
